

@font-face {
    font-family: 'rajdhany';
    src: url(../police/Rajdhani-Medium.ttf);
}

:root{
    --yellow-color:#FFFF00;
    --yellow-light: #f8f184;
    --blue-color: #19587d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'rajdhani';
    font-size: 36px;
    font-weight: 400;
}
button{
    font-family: 'rajdhani';
    font-size: 20px;
    font-weight: 400;
}

.container{
    width: 80%;
    margin: 0% auto;
}

body{
    background-color: black;
    color: white;
    font-family: 'Space-Grotesk';
    font-weight: 300;
}
 
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
ul{
    list-style: none;
}

ul a{
    color: white;
    font-size: 30px;
    font-weight: 500;
    font-family: 'rajdhany';
    /* text-decoration: non; */
}

nav ul a:hover{
    color: #f8f184;
}
/*Design de la partie en tete Hero */

#hero{
    background-image: url(../Illustrations/Bathome1.png);
    background-size: cover;
    height: 600px;
    background-position: top center;
    background-repeat: no-repeat;
}
/*design de la section batman-personnage*/

.batman-personnage{
    display: flex;
    justify-content: space-between;
}

/*design de la section vilain*/

.vilain{
    display: flex;
    justify-content: space-between;
}

/*design de la section allie*/

.allie{
    display: flex;
    justify-content: space-between;
}

/*design de la multimedia*/
.multimedia{
    display: flex;
}